h2 {
    color: #d4d4d2;
    margin-right: 1rem;
}

h1 {
    margin: 0;
    color: white;
}

textarea {
    width: 100%;
    margin-top: 2rem;
}

.area {
   display: flex;
   justify-content: center;
   align-items: center; 
}

.input_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

input {
    height: 1.5rem;
}

.container {
    background-color: #1c1c1c;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 1.5rem;
    border-radius: 1rem;
}

button {
    margin-top: 1rem;
    height: 3em;
    width: 100%;
    background-color: #FF9500;
    border: none;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: #c57505;
}

label {
    font-size: 1.2rem;
    color: #d4d4d2;
}

.radio_button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}

.select_input {
    height:30px;
    padding:5px 10px 5px 50px;
    margin-bottom: 1rem;
    width: 350px;
    }

    .txt_resultado{
        color: white;
    }
     